@charset "utf-8";
/* CSS Document */

*{ outline:none; margin:0; padding:0;}
.nav.navbar-nav.navbar-right li a:focus {
    outline:none;
}
a:focus {
    outline:none;
}
body{font-family: 'Lato', sans-serif;}
	/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent }
.transition, .transition:before, .transition:after, .transition:hover { transition: 0.5s; -webkit-transition: 0.5s; -ms-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; }
body { line-height: 1 }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ul { margin: 0; padding: 0; list-style: none; }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: none }
a:active, a:hover {
    outline: 0 none;
}
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none; outline: 0; transition: all 0.5s ease 0s; }
ins { background-color: #ff9; color: #000; text-decoration: none }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold }
del { text-decoration: line-through }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help }
table { border-collapse: collapse; border-spacing: 0 }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0 }
input, select { vertical-align: middle; outline: 0; }
img { outline: 0; border: 0; }
/*Reset CSS ends here*/

.clear { clear: both; }
.bdr0 { border: 0 !important; }
.fleft { float: left !important; }
.fright { float: right !important; }
h1, h2, h3, h4, h5, h6, p { margin: 0 0 15px; padding: 0; }
body { background: #fff; color: #505254; font-family: 'latolight'; font-size: 18px; }
.wrapper { width: 1024px; margin: 0 auto; }
a:hover { text-decoration: none; }
.textCenter { text-align: center; }
h1 { font-family: 'latobold'; font-size: 34px; position: relative; width: 100%; text-align: center; margin-bottom: 0; }
/*==============================================*/
.topUpper { background: #142a3a; padding: 8px 0; border-top: 1px solid #293e4a; position: relative; z-index: 2; }
.topUpper:after { position: absolute; left: 0; top: 0; content: ""; border-bottom: 1px solid rgba(0, 0, 0, 0.5); top: 43px; width: 100%; }
.topLinks { }
.topLinks ul { text-align: right; }
.topLinks ul li { float: right; border-left: 1px solid #87929b; }
.topLinks ul li:last-child { border: 0; }
.topLinks ul li:last-child a { padding-left: 0; }
.topLinks ul li:first-child a { padding-right:12px; }
.topLinks ul li a { padding: 0 15px; display: block; color: #fff; font-family: 'latoregular'; font-size: 16px; line-height: 26px; }
.topLinks ul li a i { margin-right: 10px; }
.mainBanner { position: relative; background:#dedede; }
.mainBanner img { width: 100%; display: block; }
.myNavi { background-color: #142a3a; position: absolute; z-index: 9999;  width:100%; top:0px;}
.myNavi:after { position: absolute; left: 0; top: 0; content: ""; border-bottom: 1px solid rgba(0, 0, 0, 0.5); top: 86px; width: 100%; }
.myNavi .navbar { border-radius: 0; -webkit-border-radius: 0; min-height: 83px; margin-bottom: 0; background-color: #142a3a; border-color: #142a3a; }
.myNavi .navbar-brand { height: auto; }
.myNavi .navbar-nav { padding: 0; }
.myNavi .navbar-default .navbar-nav > li { height: 88px; float: none; display: table-cell; vertical-align: middle; }
.myNavi .navbar-default .navbar-nav > li > a { color: #fff; font-family: 'latoregular'; font-size: 14px; line-height: 26px; border-left: 1px solid #263b49; padding: 0 18px; text-transform: uppercase; }
.myNavi .navbar-default .navbar-nav > li:first-child a { font-size: 18px; border: 0; }
.myNavi .navbar-default .navbar-nav > li:first-child.active { background: none; }
.myNavi .navbar-default .navbar-nav > li.active { }
.myNavi .navbar-default .navbar-nav > .active > a, .myNavi .navbar-default .navbar-nav > .active > a:hover, .myNavi .navbar-default .navbar-nav > .active > a:focus { background: none; color: #fff; }
.myNavi .navbar-default .navbar-nav > li > a:hover { color: #3498db !important; }
.myNavi .navbar-default .navbar-nav > li > a:active {
    color: #3498db !important;
}
.genralSec { padding: 100px 0; }
.stayConneced { background: #3498db; color: #fff; position:relative; padding: 90px 0 55px; }
.stayConneced h1 { margin-bottom: 45px; }
.headingSec { background: url(../images/brown_hd_bg.png) center bottom no-repeat; padding-bottom: 40px; margin-bottom: 50px; }
.stayConneced .headingSec { background: url(../images/white_hd_bg.png) center bottom no-repeat; }
.spText p { font-size: 20px; line-height: 36px; margin-bottom: 20px; }
.spText p span { font-size: 40px; }
.txt24italic { font-size: 24px; font-family: 'latolight_italic'; line-height: 30px; }
.headingSec h1 i { margin-right: 20px; }
.stayConnectTabs ul.resp-tabs-list { width: 100%; text-align: center; margin-bottom: 30px; }
.stayConnectTabs .resp-tabs-list li { float: none; display: inline-block; font-size: 24px; font-weight: normal; padding: 0px 0px 25px !important; margin-right: 55px; position: relative; }
.stayConnectTabs .resp-tabs-list li:after { position: absolute; right: -40px; top: -12px; width: 100%; height: 100%; content: ""; display: block; background: url(../images/arrow1.png) right center no-repeat; }
.stayConnectTabs .resp-tabs-list li:last-child { margin-right: 0; }
.stayConnectTabs .resp-tabs-list li:last-child:after { display: none; }
.stayConnectTabs .resp-tab-active { background: url(../images/carretDown1.png) center bottom no-repeat; border: 0; padding: 0px 0px 25px !important; }
.stayConnectTabs .resp-tabs-container { background: url(../images/stayConTabBG.png) center top no-repeat; width: 690px; height: 434px; margin: 0 auto; }
.stayConnectTabs .resp-tab-content { border: 0; padding: 37px 60px 73px; }
.stayConnectTabs .stayContent { position: relative; }
.stayConnectTabs .resp-tab-content .tabCap { position: absolute; bottom: 12px; left: 0; right: 0; width: 100.2%; padding: 12px 40px; background: rgba(0, 0, 0, 0.47); }
.stayConnectTabs .resp-tab-content .tabCap p { font-size: 18px; line-height: 30px; font-family: 'latoregular'; margin-bottom: 0; }
.howConnectTabs { position: relative; margin: 0 0 54px; }
.howConnectTabs ul.resp-tabs-list { width: 100%; text-align: center; margin-bottom: 55px; }
.howConnectTabs .resp-tabs-list li { float: none; display: inline-block; font-size: 18px; font-family: 'latobold'; color: #fff; padding: 10px 15px !important; margin: 0 17px; border: 0; border: 1px solid rgba(0, 0, 0, 0.18); border-radius: 8px; -webkit-border-radius: 8px; color: #68727b; }
.howConnectTabs .resp-tabs-list { }
.howConnectTabs .resp-tabs-list li i { font-size: 22px; margin-right: 10px; }
.howConnectTabs .resp-tabs-list li.resp-tab-active, .howConnectTabs .resp-tabs-list li:hover { background: #ed6053; color: #fff; box-shadow: 0 6px 0 #c04e43 inset; border: 1px solid transparent; }
/*//.howConnectTabs .resp-tabs-list li.resp-tab-active.hw, .howConnectTabs .resp-tabs-list li.hw:hover { background: #3498db; border: 1px solid #3498db; color: #fff; } 3-2-15 css*/
.howConnectTabs .resp-tabs-container { background: #f9f9f9; border-radius: 8px; -webkit-border-radius: 8px; }
.howConnectTabs .resp-tab-content { border: 0; border: 1px solid #ebebeb; border-radius: 8px; -webkit-border-radius: 8px; padding: 37px 35px 37px 35px; min-height: 245px; background:#ecf0f1;}
.howConnectFixImg { border: 1px solid #e7e7e7; padding: 7px; position: absolute; bottom: 37px; left: 35px; }
.howConnectTabs .resp-tab-content .htw li { display: block; margin-bottom: 15px; color: #7a7c7d; }
.howConnectTabs .resp-tab-content .htw li span { display: inline-block; border-radius: 50%; -webkit-border-radius: 50%; background: #d1dbde; width:35px; height:35px; margin-right: 18px; line-height:35px; color: #fff; text-align: center; font-size:18px; font-family: 'latobold'; }
/*----------------------------------------25-02-14-----------------------------------*/
.download_app { background: none repeat scroll 0 0 #ed6053; border: 1px solid transparent; box-shadow: 0 6px 0 #c04e43 inset; color: #fff; font-family: 'latobold'; text-align: center; display: block; margin: 0 auto; width: 345px; border-radius: 4px; font-size: 20px; padding: 24px 0 23px;}
.download_app:hover { color: #fff; background:#dc5347; }
.download_app:focus{ color:white; text-decoration:none;}
.share_wi-fi { background: #ecf0f1; border-top: 1px solid #d9dcdd; position: relative; }
.share_wi-fi:after { border-bottom: 1px solid #fff; content: ""; left: 0; position: absolute; top: 1px; width: 100%; }
.share_wi-fi p { font-size: 20px; line-height: 36px; text-align: center; color: #203546; margin-bottom: 54px;}
.wf_location { padding: 83px 0 0; }
.wf_location .l_img { text-align: right; }
.wf_location .l_img img { display: block; }
.loc_detail { padding: 60px 0 0; }
.loc_detail h2 { font-family: 'latobold'; font-size: 48px; color: #505254; line-height: 58px; }
.loc_detail h3 { font-family: 'latobold'; font-size: 18px; color: #505254; margin: 0 0 0; line-height: 30px; }
.loc_detail p { font-size: 18px; line-height: 30px; color: #505254; }
.in_media { background: #ed6053; margin: 0; border-bottom: 4px solid #fff; position: relative; }
.in_media .headingSec h1 { color: #fff; }
.in_media .headingSec { background: url("../images/brown_hd_bg1.png") no-repeat scroll center bottom rgba(0, 0, 0, 0); }
.in_media p { font-size: 18px; line-height: 30px; color: #fff; text-align: center; }
.carousel-control.right { background: none; }
.carousel-control.left { background: none; }
.media_slider_in { border: 1px solid rgba(255,255,255, 0.3); padding: 10px; max-width: 705px; margin: 0 auto; }
.glyphicon-chevron-right:before { content: "\f105"; font-family: 'FontAwesome'; }
.glyphicon-chevron-left:before { content: "\f104"; font-family: 'FontAwesome'; }
.carousel-control { left: -50px; width: 15px; }
.carousel-control.right { right: -50px; }
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next { font-size: 50px; font-weight: normal; }
.in_media:after { border-bottom: 1px solid #ed6053; content: ""; left: 0; position: absolute; top: -2px; width: 100%; }
.mainBanner .carousel-control.right { right: 30px; left: auto; }
.mainBanner .carousel-control { left: 30px; width: 15px; }
.mainBanner .carousel-caption { left: 20%; padding-bottom: 30px; right: 20%; top: 25.5%; }
.top_s_con { max-width: 730px; margin: 0 auto; }
.top_s_con .top_s_img { width: 27%; float: left; padding-right: 5%; margin-right: 5%; border-right: 1px solid rgba(255,255,255, 0.3); }
.top_s_con .top_s_img img { width: auto; }
.top_s_con .top_r_con { width: 68%; float: left; }
.top_s_con .top_r_con p { font-size: 40px; line-height: 70px; text-align: left; font-family: 'latoregular'; margin: 0 0 45px; }
.top_s_con .top_r_con a { font-size: 30px; margin: 0; text-shadow: none; }
.carousel-fade .carousel-inner .item { opacity: 0; -webkit-transition-property: opacity; -moz-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; }
.carousel-fade .carousel-inner .active { opacity: 1; }
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right { left: 0; opacity: 0; z-index: 1; }
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right { opacity: 1; }
.carousel-fade .carousel-control { z-index: 2; }
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next { margin-top: -30px; }
.back_bot { font-size: 50px; color: #fff; display: block; text-align: center; width: 40px; margin: 0; position: relative; z-index: 999; top: -165px;    width: 100%;}
.back_bot:hover, .back_bot:focus { color: #fff; }
#section7 .form_feild { border: 1px solid #ccd0d3; background: #fff; margin: 0 1.2% 35px; width: 30.9%; float: left; }
#section7 .form_feild input { border: none; outline: none; background: none; font-size: 18px; width: 100%; }
#section7 .form_select { border: 1px solid #ccd0d3; background: #fff; width: 97.5%; margin: 0 1.2% 65px; clear: both; padding: 10px; }
#section7 .form_feild.name { background: url(../images/form_icon1.png) no-repeat 20px center #fff; padding: 20px 0 20px 55px; }
#section7 .form_feild.phone { background: url(../images/form_icon2.png) no-repeat 20px center #fff; padding: 20px 0 20px 55px; }
#section7 .form_feild.email { background: url(../images/form_icon3.png) no-repeat 17px center #fff; padding: 20px 0 20px 55px; }
#section7 .form_select textarea { border: none; resize: none; font-size: 18px; width: 100%; height: 95px; }
.footer { background: #132736; padding: 58px 0 0; }
.footer h1 { font-family: 'HelveticaNeue35Thin'; font-size: 48px; line-height: 50px; color: #668296; margin: 0 0 45px; }
.f_social_icon { text-align: center; padding: 0 0 60px; border-bottom: 1px solid #455561; margin: 0 0 10px; }
.f_social_icon a { font-size: 60px; color: #405868; margin: 0 25px;  transition: all 0.5s ease 0s;}
.f_social_icon a:hover { color: #c75b56; }
.footer_menu { text-align: center; padding: 20px 0; margin: 0 0 15px; }
.footer_menu li { list-style: none; display: inline-block; }
.footer_menu li a { display: block; color: #668296; font-size: 18px; line-height: 24px; font-family: 'latolight'; padding: 5px 11px; }
.footer_menu li a:hover { color: #fff; }
.footer_bot { background: #f6f8f8; text-align: center; padding: 23px 0; }
.footer_bot span { font-size: 14px; line-height: 24px; color: #405c68; font-family: 'latoregular'; }
a.back_top { background: #132736; position: fixed; bottom: 20px; right: 20px; color: #fff; padding: 0 13px 5px; font-size: 40px; line-height: 30px; z-index: 9999; transition:none; }
.fixed-header { position: fixed; width: 100%; top: 0; left: 0; right: 0; }

/*.menu-section { padding-bottom: 22px; width: 100%; background: #fff; position: relative; z-index: 1; }
.mainBanner{ height:auto !important;}*/

.f_social_icon a.fb:hover{ color:#4e74b3;}
.f_social_icon a.tw:hover{ color:#1ab2e8;}
.f_social_icon a.pt:hover{ color:#c81d25;}
.f_social_icon a.gp:hover{ color:#d95232;}
.f_social_icon a.lk:hover{ color:#0177b5;}





/*2-3-15 css*/
.img-box{ border: 1px solid #e7e7e7; background:#fff;  padding: 7px; width:223px; display:inline-block; vertical-align:top;}
.img-box img{ max-width:100%;}
.htw { display: inline-block;  vertical-align: top; padding-left:5%; width:70%;}




/*popu css*/

.showbiz-container				{	max-width:1210px; min-width:300px; overflow:hidden;
									margin:0px auto 0px;
									box-sizing:border-box;
									-moz-box-sizing:border-box;
									-webkit-box-sizing:border-box;
								}

.showbiz-container.darkbg		{	padding:20px;
									background:#d5d5d5;
									max-width:1170px;
								}

.showbiz-container.whitebg		{  padding-top:15px;
									
									max-width:1170px;
									
									overflow:visible
								}



.showbiz-container	{	z-index:10; position: relative;}




/*animation css*/
.duration {
-webkit-animation-duration: 3s !important;
-moz-animation-duration: 3s !important;
-ms-animation-duration: 3s !important;
-o-animation-duration: 3s !important;
}
.delay {
-webkit-animation-delay:0.2s;
-moz-animation-delay:0.2s;
-ms-animation-delay:0.2s;
-o-animation-delay:0.2s;
}
.delay2 {
-webkit-animation-delay:0.5s;
-moz-animation-delay: 0.5s;
-ms-animation-delay: 0.5s;
-o-animation-delay: 0.5s;
}
.delay3 {
-webkit-animation-delay:0.8s;
-moz-animation-delay:0.8s;
-ms-animation-delay: 0.8s;
-o-animation-delay:0.8s;
}
.delay4 {
-webkit-animation-delay:1.1s;
-moz-animation-delay:1.1s;
-ms-animation-delay: 1.1s;
-o-animation-delay:1.1s;
}
.delay5 {
-webkit-animation-delay:1.4s;
-moz-animation-delay:1.4s;
-ms-animation-delay: 1.4s;
-o-animation-delay:1.4s;
}




/*.top-nav{ display:none;}*/


#section8 {
    padding-top:50px;
}

.resp-tab-content-active {
    -webkit-animation: myfirst 1s; 
    animation: myfirst 1s;
}

@-webkit-keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

.hot{ color:#ED6053;}

.resp-tabs-container {  width: 80%;    margin: 0px auto;}
.resp-tabs-container .img-box {  width: 25%;}
.mediaholder_innerwrap{ max-height:250px;}
.sharing-h {text-align: center; font-size: 22px;  font-weight: bold; color:#666; margin-bottom:20px;}

.carousel-indicators {  left: auto;  right:1%;  top: 50%;  margin-left: 0;  text-align: right; width:30px;}
.carousel-indicators > li{ display:block;  margin-bottom: 8px !important; width:22px; height:22px; background:url(../images/cotrols.png) no-repeat; background-position:top center; cursor: pointer;}
.carousel-indicators .active{background-position:bottom center;}




/*form css*/
.modal {
    margin-top: 0;
    position:fixed;
    top:0px;
}
.modal {
    z-index: 99999;
}
.modal {
    border: medium none;
    box-shadow: none;
    outline: medium none;
}
.modal-dialog {
    background: none repeat scroll 0 0 #ffffff;
    margin: 0 auto;
    max-width: 870px;
    width: 100%;
	top:200px
}
.modal-content:after {
    clear: both;
    content: "";
    display: block;
}
.modal-content {
    background: url("../images/login-head-bg.png") repeat-x scroll center top rgba(0, 0, 0, 0);
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    box-shadow: none;
    padding: 0 35px 5px;
}
.login-head {
    background:#E6E3E3;
    color: #7e7168;
    font-size: 30px;
    height: 74px;
    line-height: 74px;
    margin: 7px -35px 35px;
    padding: 0;
}
.modal-content i {
    background: #CACACA;
    color: #5f5e5e;
    height: 74px;
    line-height: 75px;
    text-align: center;
    width: 60px;
}
.modal-dialog .btn-default {
    background: none repeat scroll 0 0 #ffffff;
    border: medium none !important;
    border-radius: 100%;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right: 18px;
    top: 23px;
    z-index: 99;
}
.login-left {
    float: left;
    padding-right:45px;
    width: 70%;
	border-right:1px solid #e5e5e5;
}
.modal-dialog .form-group {
    margin-bottom: 30px;
}

.modal-dialog .form-control {
    padding-bottom: 0;
    padding-top: 0;
}
.form-control {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ddd8d4;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none;
    color: #c1c1c1;
    height: 48px;
}
.error-msg:after {
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 9px solid #1a92ce;
    border-top: 10px solid rgba(0, 0, 0, 0);
    color: #ff0000;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: -9px;
    top: 21px;
    width: 0;
    z-index: 99999;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.modal-dialog .form-control > span {
    border-right: 0 none;
    display: inline-block;
    height: 48px;
    margin-right: 0;
    padding-right: 0;
    vertical-align: top;
}
span.error-msg {
    background:#1a92ce;
    color: #ffffff;
    font-size: 18px;
    height: 58px !important;
    left:-275px;
    line-height: 58px;
    padding: 0 20px !important;
    position: absolute;
    top: -5px;
	box-shadow:0 5px 0 0 #1885bb inset;
}
.modal-dialog .form-control > span.error-msg{ display:none;}
.modal-dialog .form-control > span {
    border-right: 0 none;
    display: inline-block;
    height: 48px;
    margin-right: 0;
    padding-right: 0;
    vertical-align: top;
	font-family: 'latolight';	
}
.modal-dialog .form-control > span i {
    background:#1a92ce;
    color: #ffffff;
    font-size: 18px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
	box-shadow:0 5px 0 0 #1885bb inset;
    width: 50px;
}
.modal-dialog .form-control input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}
.modal-dialog .input-lg {
    min-width: 82%;
}
.modal-dialog .input-lg {
    padding: 0;
}
.input-lg {
    color: #000;
    font-size: 24px;
    height: 48px;
}

input {
    transition: all 0.2s ease-in-out 0s;
}
.loginlst {
    color: #b6bdc5;
    float: right;
    font-size: 20px;
    list-style: outside none none;
    margin: 0 0 0 0;
    max-width: inherit;
	width:30%;
    padding-left:45px;
}
.loginlst li a {
    background: url("../images/btn-bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #d6d6d6;
    border-radius: 1px;
    color: #4e4d4d;
    display: block;
    font-size: 18px;
    line-height: 56px;
    margin-bottom: 16px;
    padding: 0 25px;
}

.form-group input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 20px;
	height: 25px;
	display: inline-block;
	line-height: 25px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 16px;
	vertical-align: middle;
	cursor: pointer;
	color: #4d4d4d;
	font-family: 'latolight';
	font-weight:300;
}
input[type="checkbox"], input[type="radio"] {
    line-height: normal;
    margin: 4px 0 0;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.forgot-link {
    color: #f1553c;
    font-size: 16px;
    margin-left: 35px;
    text-decoration: underline;
	font-family: 'latolight';
	font-weight:300;
}

.captch-inp {
    background:#E6E3E3;
    border: medium none;
    font-size: 18px;
    height: 50px;
    line-height: inherit;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 0;
    vertical-align:top;
    width: 200px;
}
.form-control:hover span i {
    background: none repeat scroll 0 0 #1a92ce !important;
	box-shadow:0 5px 0 0 #1885bb inset;
}

.form-group input[type=checkbox].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.form-group input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 30px;
	height: 25px;
	display: inline-block;
	line-height: 25px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 16px;
	vertical-align: middle;
	cursor: pointer;
	color: #4d4d4d;
}
.form-group input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -25px;
}
.form-group label.css-label {
	background-image: url(../images/checkbox_login.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.create-left-in .form-group label.css-label {
	background-image: url(../images/checkbox_login2.png);
}
.create-left-in .form-group input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -25px;
}
.modal-dialog .btn-default:hover {
    background: none repeat scroll 0 0 #333333;
    color: #ffffff;
}

.loginlst{color:#4d4d4d; font-size:16px;}
.loginlst h2{ font-size:24px; }
.loginlst a{ color:#f1553c; margin-right:6px; text-decoration:underline;} 
.btn_n4{ background:#f1553c; color:#fff; padding:12px 25px; font-size:18px; border:0px; border-radius:3px; cursor:pointer; line-height:100%;}
.btn_n4:hover{ background:#1a92ce;}
#basicModal .modal-content i, #basicModal2 .modal-content i{ margin-right:18px;}
#basicModal .input-lg, #basicModal2 .input-lg{ font-size:20px;}
.modal-open{ overflow-y:hidden; padding:0px !important;}

.login-left .form-control {   padding: 0;}


/*faq-box css*/
.inner-page .fixed-header{ position:absolute;}
.inner-page .myNavi{ position:static;}
.inner-page .topUpper{ background:#2b3f4d;}
.heading{ text-align:center; position:relative; padding-bottom:35px; width:100%; margin:45px 0 49px;}
.heading h1{ color:#505254; font-size:34px; font-weight:700; padding-bottom:25px;}
.heading h5{ color:#505254; font-size:26px; font-weight:300; margin:0px; padding:0px;}
.heading:before{ border-bottom:1px solid #d0d0d1; height:1px; width:80%; position:absolute; content:""; left:10%; bottom:2px; }
.heading:after{ border-bottom:1px solid #d0d0d1; height:1px; width:50%; position:absolute; content:""; left:25%; bottom:0px; }

.inner-page .blue-bar{ position:relative; height:50px; background:#3498db; width:100%;}
.inner-page .blue-bar:before{ position:absolute; border-bottom:1px solid #d9dcdd; position:absolute; content:""; bottom:-2px; height:1px; width:100%;}
.inner-page .genralSec{ padding-top:0px;}

.panel-default{ border:0px; font-size:18px; border-bottom:1px solid #ffffff;}
.panel-group .panel + .panel{ margin:0px; box-shadow:none;}
.panel{box-shadow:none;}
.panel-default > .panel-heading{ background:#475865; padding:0px;color:#fff; font-weight:400;}
.panel-collapse{ background:#f0f1f3;}
.qus-box{ margin-right: 10px; display:inline-block; width:70px; text-align:center; font-size:18px;  background:#3498db; vertical-align:middle; padding:28px 0;}
.panel-title{display:inline-block; vertical-align:middle; width:100%; font-size:18px; position:relative;}
.panel-title a{ display:block; border:0px; text-decoration:none;}
.panel-body{ padding-left:0px;}
.ans-box{ display:inline-block; vertical-align:top;  width:70px;color:#465865; text-align:center; line-height:36px;}
.total-ans{ display:inline-block; color:#272d32; line-height:36px; padding-left:12px; width:90%;}
.panel-title .fa{ position:absolute; right:0px; top:28px;}
.accordion-toggle{ position:relative;}
.accordion-toggle:before{position:absolute; content:""; font-family: 'FontAwesome'; right:20px; top:25px;}
.accordion-toggle.tab-active:before{content:""; }
.que{ display:inline-block; width:90%; vertical-align:middle;}

.nav.navbar-nav.navbar-right > li:last-child a {
    padding-right: 0;
}


